
<div style="height:80px; background-color:#030a49">
<table border="0" style="height:80px;width: 100%" >
  <tr>
    <td style="vertical-align: middle;width:50px">
        <button mat-button [matMenuTriggerFor]="menu">      
            <img src="../../assets/burger_menu_bl.png" style="height:32px; border:0px">  
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1_____________________</button>
            <button mat-menu-item>Item 2</button>
            <button mat-menu-item>Item 3</button>
            <button mat-menu-item>Item 4</button>
            <button mat-menu-item>Item 5</button>
          </mat-menu>
    </td>
    <td style="vertical-align: middle;width:50px">
        <img src="../../assets/sparta.png" style="height:32px">
    </td>
    <td style="vertical-align: middle">
        &nbsp;
    </td>
    <td style="vertical-align: middle;width:100%;" align="right">

        <img src="../../assets/calendar_bl.png" style="height:32px; border:0px">
        <img src="../../assets/spacer.png" style="height:20px; border:0px">

        <img src="../../assets/bell_bl.png" style="height:32px; border:0px">
        <img src="../../assets/spacer.png" style="height:20px; border:0px">

        <img src="../../assets/gear_bl.png" style="height:32px; border:0px">        
        <img src="../../assets/spacer.png" style="height:20px; border:0px"> 

        <img src="../../assets/account_bl.png" style="height:32px; border:0px">
        <img src="../../assets/spacer.png" style="height:32px; border:0px">    
    </td>
  </tr>
</table> 
</div>

