<div style="height:20px;background-color:rgb(205, 217, 221); ">
    <span></span>
</div>
<mat-tab-group style="background:rgb(205, 217, 221); ">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">dashboard</mat-icon>
        tableau de bord
      </ng-template>
      <mat-card>
                       
          <div style="text-align: center; background-color:#a9bacc">Tableau de bord : <b>CIRFA de Paris : C750</b></div>
          
          <mat-card-content>
              <!-- Activités de recrutement -->
              <app-activitesrecrutement></app-activitesrecrutement>                
          </mat-card-content>
      </mat-card>     
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">supervisor_account</mat-icon>
        contacts et dossiers
      </ng-template>
      <mat-card>          
          <mat-card-content>
              <!-- Zone de recherche des contacts / dossiers -->
              <app-zonerecherche></app-zonerecherche>          
          </mat-card-content>
      </mat-card>  
    </mat-tab>
  
    <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">today</mat-icon>
          activités en cours
        </ng-template>  
        <mat-card>
            <mat-card-header>              
                <mat-card-title>titre page 3</mat-card-title>
                <mat-card-subtitle>sous-titre page 3</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>           
            </mat-card-content>
        </mat-card>  
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">insert_chart</mat-icon>
        pilotage et statistiques
      </ng-template>  
      <mat-card>
          <mat-card-header>              
              <mat-card-title>titre page 4</mat-card-title>
              <mat-card-subtitle>sous-titre page 4</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>                
          </mat-card-content>
      </mat-card>  
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">settings</mat-icon>
            administration
        </ng-template>
    </mat-tab>

</mat-tab-group>

