<div class="form-container">
    <mat-form-field>
      <input matInput placeholder="">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Nom ou NID à rechercher</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>search</mat-icon>        
      </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="dans">
          <mat-option value="option">contacts</mat-option>
          <mat-option value="option">dossiers</mat-option>
          <mat-option value="option">contact et dossiers</mat-option>
        </mat-select>
    </mat-form-field>


      
  </div>