
<mat-card style="text-align: center;">
<div class="button-row">
 
    <button mat-raised-button class="fondBtnRec">
        <mat-icon matBadge="507" class="btnRec" matTooltip="sourcing">people</mat-icon>
    </button>  

    <button mat-raised-button class="fondBtnRec">
        <mat-icon matBadge="185" class="btnRec" matTooltip="contacts qualifiés">how_to_reg</mat-icon>
    </button>  

    <button mat-raised-button  class="fondBtnRec">
        <mat-icon matBadge="78" class="btnRec" matTooltip="dossiers ouverts">folder_shared</mat-icon>
      </button>

    <button mat-raised-button  class="fondBtnRec">
       <mat-icon matBadge="47" class="btnRec" matTooltip="dossiers utiles : candidats à orienter">create_new_folder</mat-icon>
    </button>

    <button mat-raised-button  class="fondBtnRec">
            <mat-icon matBadge="25"  matBadgeColor="accent" class="btnRec" matTooltip="dossiers à soumettre en commission de recrutement">dvr</mat-icon>
    </button>

    <button mat-raised-button  class="fondBtnRec">
            <mat-icon matBadge="12" matBadgeColor="warn" class="btnRec" matTooltip="en attente de signature contrat">check_circle</mat-icon>
    </button>


</div>
</mat-card>