.button-row button,
.button-row a {
  margin-right: 20px;
  margin-bottom: 20px;
}

.space-icon {
    padding: 0 0;
  }

.btnRec {
  width:64px;
  height:64px;
  color: black; 
  font-size: 64px;
}

.fondBtnRec {
  background-color:lightgoldenrodyellow;
}