.fond {
    background-image: url(../assets/imgfond1.png);
    background-size: 100% 100%;
}

.leftnav-container {
    position: absolute;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }
  


