  
    <mat-card style="display: -webkit-flex; 
                     flex-direction: row;
                     flex-wrap: wrap;
                     justify-content:center;                    
                     background-color:lightgray">
        
        <mat-card>
            <div style="font-size:14px;text-align: center"> Réalisation du plan de recrutement EVAT</div>
            <canvas id="graph1" width="350px"></canvas>
        </mat-card>   

        <mat-card>
            <div style="font-size:14px;text-align: center"> Réalisation des métiers du PR EVAT : JANVIER</div>
            <canvas id="graph2" width="350px" height="500px"></canvas>
        </mat-card>   

        <mat-card>
                <div style="font-size:14px;text-align: center"> Réalisation du plan de recrutement EVSO</div>
            <canvas id="graph3" width="350px"></canvas>
        </mat-card>
    
    </mat-card> 

    