<mat-grid-list cols="2">
  <mat-grid-tile>
      <mat-card>
          <mat-card-title style="font-size: 12px"> Réalisation du plan de recrutement EVAT</mat-card-title>
          <mat-card-content>
              <canvas id="graph1" ></canvas>
          </mat-card-content>    
      </mat-card>     
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
        <mat-card-title style="font-size: 12px"> Réalisation du plan de recrutement EVSO</mat-card-title>
        <mat-card-content>
            <canvas id="graph2" ></canvas>
        </mat-card-content>    
    </mat-card>
  </mat-grid-tile>
  
</mat-grid-list>    